.text-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
    font-family: 'Coolvetica';
    font-size: 3rem;
    color: #203354;
    animation: fadeIn 1s ease-in-out;

    .text {
        animation: fade 3s infinite;
    }

    @keyframes fade {
        0% { opacity: 0; }
        20% { opacity: 1; }
        80% { opacity: 1; }
        100% { opacity: 0; }
    }
}