.home-page{

    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }

    h1{
        color: black;
        font-size: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 300;

        &::before {
            content: '<h1>';
            font-family: 'Poppins';
            color: #ffd700;
            font-size: 18px;
        }

        img{
            width: 32px;
        }
    }
}